/*fdsu styles*/
body {
  background-color: #eee;
  color: #000;
  font-family: verdana, geneva, sans-serif;
  font-size: 0.825em;
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  margin-bottom: 0.5em;
  color: #000000;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  clear: both;
}
h1 {
  font-size: 2em;
  margin: .5em 0;
  width: 100%;
}
h2 {
  font-size: 1.3em;
  color: #111;
  margin-bottom: .8em;
  padding-bottom: 1px;
  border-bottom: 1px solid #fcd450;
}
h2 a {
  text-decoration: none;
}
h3 {
  font-size: 1.2em;
  color: #111;
  margin-bottom: .8em;
}
h4 {
  font-size: 1.1em;
  color: #222;
  margin-bottom: .9em;
}
h5 {
  font-size: 1.1em;
  color: #222;
  margin-bottom: .9em;
}
h6 {
  font-size: 1.1em;
  color: #333;
  margin-bottom: .9em;
}
p {
  margin: 0 0 1em 0;
}
ul {
  list-style-type: square;
}
select {
  max-width: 100%;
}
fieldset {
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid;
}
legend {
  font-weight: bold;
  width: 100%; /* width: 100% forces line wrapping in older IEs */
}
fieldset:hover,
fieldset:hover > legend {
  background-color: #fffbd9;
}
#site {
  width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  border: solid 1px #888;
  border-top: none;
  -moz-box-shadow: 2px 5px 5px 2px #888;
  -webkit-box-shadow: 2px 5px 5px 2px #888;
  box-shadow: 2px 5px 5px 2px #888;
}
/*fixes drop shadow problems in IE10+, unfortunately must apply to all browsers*/
.ie-resize-fix {
  height: 1em;
}
/*uw-header and uw-footer fdsu specific*/
#uw-header {
  font-family: arial, helvetica, sans-serif;
  font-size: .9em;
  line-height: 1.2em;
}
#uw-footer {
  font-family: arial, helvetica, sans-serif;
  font-size: .82em;
  line-height: 1.5em;
}
#site-header {
  padding: 25px 10px;
  border-bottom: solid 1px #ccc;
  background-color: #fafafa;
}
#site-header img {
  vertical-align: bottom;
}
#site-navigation {
  float: left;
  width: 230px;
  margin-bottom: 192px;
  background: #fff;
}
#site-navigation h2 {
  margin: 2em 0 0 0;
  padding: 38px 0 .5em 1em;
  font-size: 1.1em;
  border-bottom: solid 1px #ccc;
  background: url('../images/chevrons.png') no-repeat -16px 0;
}
.site-menu {
  border-right: solid 1px #ccc;
  line-height: normal;
  font-size: 1.05em;
  background-color: #fff;
}
.site-menu ul {
  margin: 0;
  padding: 0;
}
.site-menu ul li {
  padding: 0;
  margin: 0;
  list-style-image: none;
  list-style-type: none;
}
.site-menu li.expanded a {
  background: url('../images/menu-expanded.png') no-repeat .4em center;
}
.site-menu li.collapsed a {
  background: url('../images/menu-collapsed.png') no-repeat .4em center;
}
.site-menu li.leaf a {
  background: url('../images/menu-leaf.png') no-repeat .4em center;
}
body .site-menu li a.active {
  color: #000;
  background-color: #fafafa;
  border-right-color: #fafafa;
}
.site-menu a {
  display: block;
  text-decoration: none;
  padding: .3em;
  padding-left: 1.4em;
  border-right: solid 5px #fff;
  border-bottom: solid 1px #eee;
  color: #96172e;
  z-index: 50;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .site-menu li a:hover {
  color: #000;
  background-color: #eee;
  border-color: #96172e;
}
.site-menu li.expanded > ul {
  margin-left: 1em;
}
#main {
  float: left;
  width: 750px;
  margin: 0 10px;
}
#content {
  float: left;
  width: 500px;
  margin-bottom: 1.5em;
}
.wide #content {
  width: 750px;
}
#site-sidebar {
  float: right;
  width: 220px;
  padding-left: 14px;
  margin-top: 15px;
  border-left: solid 1px #e6e6e6;
  font-size: .85em;
}
.wide #site-sidebar {
  display: none;
}
/*
.region-sidebar-second .views-row,
.region-promo .views-row {
  padding-bottom: 5px;
}
*/
#site-header img,
#content img,
#site-sidebar img {
  height: auto;
  width: auto;
  max-width: 100%;
}
img.block-image {
  display: block;
}
img.block-image.space-bottom-like-column {
  margin-bottom: 20px;
}
.wide img.block-image.space-bottom-like-column {
  margin-bottom: 30px;
}
#content object {
  max-width: 100%;
}
.breadcrumb {
  padding: 0;
  font-size: .85em;
}
.breadcrumb a {
  text-decoration: none;
  color: #96172e;
}
.breadcrumb a:hover {
  text-decoration: underline;
}
a {
  color: #96172e;
}
a:visited {
  color: #444;
}
body #main a:hover,
a:hover {
  color: #03f;
}
ul {
  margin: 0;
  /*padding: 0 0 1em 2.7em;*/
  padding: 0 0 1em 1.6em;
}
ol {
  margin: 0;
  padding: 0 0 1em 2.7em;
}
ul li > ul,
ul li > ol,
ol li > ol,
ol li > ul {
  padding: 0 0 0 1.5em;
}
.content_node ul {
  overflow: hidden;
} /* fixes bullets over floats issue*/
.content_node ol {
  overflow: hidden;
} /* fixes bullets over floats issue*/
li {
  margin-top: .5em;
}
ul li {
  padding: 0 0 0 0.3em;
}
hr {
  border: none;
  border-top: solid 2px #fcd450;
  margin-bottom: 1em;
}
/*content div*/
#content div + h2 {
  margin-top: 1em;
}
.content_node .field-items {
  padding-bottom: 1em;
}
address {
  margin-bottom: 1em;
}
blockquote {
  background: #fff url('../images/blockquote.png') no-repeat .5em .5em;
  margin: 0 0 1em 0;
  padding: 1em 3em 0;
  color: #444;
  border: solid 1px #eee;
  clear: both;
}
blockquote.twitter-tweet {
  background-image: url('../images/blockquote_twitter.png');
}
pre {
  white-space: pre-wrap;
}
ol li > ol {
  list-style-type: lower-alpha;
}
ol li > ol li > ol {
  list-style-type: lower-roman;
}
ul li > ul {
  list-style-type: circle;
}
ul li > ul li > ul {
  list-style-type: disc;
}
/*tables*/
table {
  margin: 1em 0;
  min-width: 100%;
  max-width: 100%;
  font-size: .9em;
}
#content table {
  max-width: 750px;
}
caption {
  border: solid 1px #eee;
  border-bottom: none;
  padding: .5em;
  font-style: italic;
}
th,
td {
  padding: .5em;
  border: solid 1px #ddd;
  vertical-align: top;
}
th {
  font-style: italic;
  background-color: #eee;
  text-align: left;
}
/*styles*/
.highlight {
  font-size: 1.2em;
  color: #555;
}
.caption {
  margin-top: -1em;
  border: solid 1px #ddd;
  padding: .5em;
  font-size: .85em;
  color: #444;
}
#site-sidebar .caption {
  font-size: 1em;
}
h2.no-border {
  border: none;
}
/*div templates*/
.col-50,
.col-33,
.col-66,
.threecol-33 {
  float: left;
}
.col-50.first,
.col-33.first,
.col-66.first,
.threecol-33 {
  margin-right: 4%;
}
.threecol-33.last {
  margin-right: 0;
}
.col-50 {
  width: 48%;
}
.col-33 {
  width: 32%;
}
.col-66 {
  width: 64%;
}
.threecol-33 {
  width: 30.666666%;
}
/*legacy*/
.half-column {
  float: left;
  width: 48%;
}
.half-column.first {
  margin-right: 4%;
}
/*footer*/
#footer {
  clear: both;
  position: relative;
}
#watermark {
  position: absolute;
  top: -170px;
  width: 200px;
  height: 170px;
  background: transparent url('../images/watermark.png') no-repeat -32px 0;
}
body.org_cgc #watermark,
body.org_ren #watermark,
body.org_stp #watermark,
body.org_stj #watermark {
  background-image: none;
}
#site-footer {
  background: #fafafa;
  border-top: solid 1px #ccc;
  padding: 10px 10px 0;
  font-size: .8em;
}
/*uw_video-embed*/
html.overlay-open .uw_video-embed {
  visibility: hidden;
}
.uw_video-embed > div {
  margin-bottom: 1em;
}
/*views*/
.item-list .pager li {
  padding: 0 .25em;
  margin: 0;
}
.item-list .pager li a {
  padding: .2em;
}
.pager li a.active:visited {
  color: #444;
}
.view .date-nav-wrapper {
  margin-top: 0;
}
.view .date-nav-wrapper .date-nav {
  min-height: inherit;
  height: auto;
  padding: 0;
}
.view .date-nav-wrapper .date-heading {
  text-align: left;
  float: none;
}
.view .date-nav-wrapper .date-prev,
.view .date-nav-wrapper .date-next {
  padding: 0;
  margin: 0;
  background: none;
}
.view .date-nav-wrapper .date-prev {
  right: 6.5em;
}
.view .date-nav-wrapper .date-prev a,
.view .date-nav-wrapper .date-next a {
  font-size: 1em;
  background: #ddd;
  padding: .2em;
  width: 6em;
  display: block;
  text-align: center;
}
.view .date-nav-wrapper .date-prev a:hover,
.view .date-nav-wrapper .date-next a:hover {
  color: #03f;
  background: #eee;
}
.view .date-nav-wrapper .date-prev a {
  border-radius: 5px 0 0 0;
}
.view .date-nav-wrapper .date-next a {
  border-radius: 0 5px 0 0;
}
/*homepage news, events and blog*/
.block-list ol {
  list-style-type: none;
  padding: 0;
}
/*sidebar archive of news, events and blog*/
#site-sidebar .block-list ol {
  margin-left: 0.5em;
  padding: 0;
}
.block-list li ol {
  list-style-type: square;
  margin-left: 2em;
  padding: 0;
}
.block-list li .item-list {
  margin-top: 0.2em;
  margin-left: 2em;
}
/*home page news, events and blog list*/
.front .block-list li {
  margin-bottom: 0;
}
.front .block-list ol {
  margin-bottom: .5em;
}
/*expandable/collapsable regions (which require JavaScript)*/
.js #content .field-item > .expandable {
  margin-bottom: 1em;
}
.js #content .field-item > .expandable > h2:first-child {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: normal;
}
.js #content .field-item > .expandable > h2:first-child button {
  background: #eee url('../images/menu-collapsed.png') no-repeat 6px center;
  border: none;
  margin: 0;
  padding: 4px 4px 4px 16px;
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  text-align: left;
  width: 100%;
}
.js #content .field-item > .expandable > h2:first-child button::-moz-focus-inner {
  padding: 0;
  border: none;
}
.js #content .field-item > .expandable > h2:first-child button:hover,
.js .field-item > .expandable > h2:first-child button:focus {
  color: #03f;
  background-color: #f0f0f0;
}
.js #content .field-item > .expandable.expanded > h2:first-child button {
  background-image: url('../images/menu-expanded.png');
}
.js #content .field-item > .expandable > .expandable-content {
  display: none;
  border: solid 1px #eee;
  border-top: none;
  border-bottom-color: #ddd;
  padding: 10px;
}
.js #content .field-item > .expandable.expanded > .expandable-content {
  display: block;
}
.js #content .field-item > .expandable .last-visible {
  margin-bottom: 0;
}
.js #content .expandable-controls {
  text-align: right;
  margin-bottom: 1em;
}
.js #content .expandable-controls button {
  cursor: pointer;
  padding: .2em .4em;
  color: #000;
  background-color: #ddd;
  text-align: center;
  margin: 0;
  border: none;
}
.js #content .expandable-controls button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.js #content .expandable-controls button.expand-all {
  margin-right: 2px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.js #content .expandable-controls button.collapse-all {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.js #content .expandable-controls button:hover,
.js #content .expandable-controls button:focus {
  color: #03f;
  background-color: #eee;
}
/*web form information paragraph*/
.node-uw-web-form .field-name-field-contact-watiam-id p {
  font-size: 90%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  font-style: italic;
}
/*rss*/
.rss_link a {
  display: inline-block;
  background: url('../images/rss.png') no-repeat;
  padding-left: 22px;
  line-height: 18px;
  margin-bottom: 10px;
}
/* social media links */
.service-links {
  clear: both;
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid #eee;
}
.service-links ul {
  padding: 0;
}
.service-links li {
  display: inline;
  padding: 0 0 0 1em;
}
.service-links li.first,
.service-links .item-list ul li.first {
  padding-left: 0;
}
.service-links .item-list ul li {
  margin: 0.5em 0 0 0;
  padding: 0 0 0 1em;
}
/*hide "upload" button on web forms until bug around conditional pages with upload fields is fixed*/
.webform-client-form .form-managed-file .form-submit {
  display: none;
}
/* old-school CTA: generic implementation */
#site-sidebar ul.quick-links {
  font-size: 1.2352941176em;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
#site-sidebar ul.quick-links li {
  padding: 0;
  margin-top: 1px;
}
#site-sidebar ul.quick-links a {
  display: block;
  padding: 6px 8px 6px 6px;
  text-decoration: none;
  color: #fff;
  background: #96172e; /* same as link colour */
  border-bottom: 1px solid #cecece;
}
#site-sidebar ul.quick-links a:hover {
  color: #fff;
  background: #8d162c; /* 1 shade darker than link colour at colllor.com */
  border-bottom: 1px solid #000;
  border-right: 5px solid #000;
  padding-right: 3px;
}
/* allow black override */
#site-sidebar ul.quick-links.black a {
  background: #000 !important;
}
#site-sidebar ul.quick-links.black a:hover {
  border-color: #aaa !important;
}

/*cas login*/
#cas_login {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: auto;
  margin: 0;
  font-size: .8em;
}
#cas_login a,
#cas_login a:visited {
  color: #aaa;
  background-color: #000;
  text-decoration: none;
}
/*front page news, events and blog blocks link title*/
.home-listing-block-link {
  width: 380px;
  display: inline-block;
  vertical-align: top;
}
/*front page news, events and blog blocks more link*/
.home-listing-block-more-link {
  display: inline-block;
  margin: 0 0 10px 110px;
  font-weight: bold;
}
/*front page news, events and blog blocks date*/
.home-listing-block-date {
  display: inline-block;
  width: 110px;
  font-size: .85em;
  color: #444;
}
ol.decimal {
  margin: 0;
  padding: 0 0 1em 1em;
}
ol.decimal ol {
  list-style: none outside none;
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}
ol.decimal li {
  list-style: decimal outside none;
  display: table;
  counter-increment: item;
  margin-top: 0.5em;
}
ol.decimal li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}
ol.decimal li li {
  margin-top: 0.5em;
}
ol.decimal li li:before {
  content: counters(item, ".") " ";
}

@media screen and (max-width: 767px) {
  #navbar-administration.navbar-oriented .navbar-tray-vertical > .navbar-lining::before {
    height: 0px;
  }
}
